mdb-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;  
  }

//  main {
//   background: url('../../../assets/img/kwchurch.PNG') no-repeat center top;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: 100%;
// }