.member-20-width {
  width: 20%;
}

.member-30-width {
  width: 30%;
}

.member-40-width {
  width: 40%;
}

.member-60-width {
  width: 60%;
}

.member-full-width {
  width: 100%;
}

.jumbotron {
  margin-top: 30px;
}